@charset "UTF-8";
@font-face {
  font-family: "Nexa-Black";
  src: url("./fonts/Nexa-Black.otf") format("opentype");
}
@font-face {
  font-family: "Nexa-Book";
  src: url("./fonts/Nexa-Book.otf") format("opentype");
}
@font-face {
  font-family: "Nexa-Heavy";
  src: url("./fonts/Nexa-Heavy.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}

@-webkit-keyframes es-move-text {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes es-move-text {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes es-move-text-bottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes es-move-text-bottom {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes es-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes es-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes es-two-weeks {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes es-two-weeks {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes es-pulse-2 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes es-pulse-2 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes float-pollen-1 {
  0% {
    opacity: 1;
    top: 100%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
    scale: 0.5;
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
    scale: 1.5;
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
    scale: 0.5;
  }
}
@keyframes float-pollen-1 {
  0% {
    opacity: 1;
    top: 100%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
    scale: 0.5;
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
    scale: 1.5;
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
    scale: 0.5;
  }
}
@-webkit-keyframes float-pollen-2 {
  0% {
    opacity: 0;
    top: 80%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
    scale: 0.5;
  }
  20% {
    transform: translateX(-10px);
    scale: 1.5;
  }
  40% {
    transform: translateX(-20px);
    scale: 0.5;
  }
  60% {
    transform: translateX(10px);
    scale: 1;
  }
  80% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  100% {
    top: 0%;
    transform: translateX(0px);
    opacity: 0;
    scale: 1;
  }
}
@keyframes float-pollen-2 {
  0% {
    opacity: 0;
    top: 80%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
    scale: 0.5;
  }
  20% {
    transform: translateX(-10px);
    scale: 1.5;
  }
  40% {
    transform: translateX(-20px);
    scale: 0.5;
  }
  60% {
    transform: translateX(10px);
    scale: 1;
  }
  80% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  100% {
    top: 0%;
    transform: translateX(0px);
    opacity: 0;
    scale: 1;
  }
}
@-webkit-keyframes float-pollen-3 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
    scale: 0.5;
  }
  20% {
    transform: translateX(-20px);
    scale: 1;
  }
  40% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  60% {
    transform: translateX(20px);
    opacity: 1;
    scale: 1;
  }
  80% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
    scale: 1;
  }
}
@keyframes float-pollen-3 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(20px);
    scale: 1;
  }
  10% {
    opacity: 0.6;
    scale: 0.5;
  }
  20% {
    transform: translateX(-20px);
    scale: 1;
  }
  40% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  60% {
    transform: translateX(20px);
    opacity: 1;
    scale: 1;
  }
  80% {
    transform: translateX(-20px);
    scale: 1.5;
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
    scale: 1;
  }
}
@-webkit-keyframes float-pollen-4 {
  0% {
    opacity: 0;
    top: 50%;
    transform: translateX(20px);
    scale: 1.5;
  }
  10% {
    opacity: 0.6;
    scale: 1.2;
  }
  20% {
    transform: translateX(50px);
    scale: 1.8;
  }
  40% {
    transform: translateX(50px);
    scale: 1.2;
  }
  60% {
    transform: translateX(40px);
    scale: 1.5;
  }
  80% {
    transform: translateX(50px);
    scale: 1;
  }
  100% {
    top: 0%;
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes float-pollen-4 {
  0% {
    opacity: 0;
    top: 50%;
    transform: translateX(20px);
    scale: 1.5;
  }
  10% {
    opacity: 0.6;
    scale: 1.2;
  }
  20% {
    transform: translateX(50px);
    scale: 1.8;
  }
  40% {
    transform: translateX(50px);
    scale: 1.2;
  }
  60% {
    transform: translateX(40px);
    scale: 1.5;
  }
  80% {
    transform: translateX(50px);
    scale: 1;
  }
  100% {
    top: 0%;
    transform: translateX(10px);
    opacity: 0;
  }
}
@-webkit-keyframes float-pollen-5 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(-20px) rotate(0deg);
    scale: 0.5;
  }
  10% {
    opacity: 0.6;
    scale: 1;
  }
  20% {
    transform: translateX(-40px) rotate(45deg);
    scale: 0.6;
  }
  40% {
    transform: translateX(-40px) rotate(90deg);
    scale: 1.2;
  }
  60% {
    transform: translateX(-20px) rotate(180deg);
    scale: 1;
  }
  80% {
    transform: translateX(-40px) rotate(180deg);
    scale: 1.6;
  }
  100% {
    top: 0%;
    transform: translateX(-40px) rotate(225deg);
    opacity: 0;
    scale: 1;
  }
}
@keyframes float-pollen-5 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(-20px) rotate(0deg);
    scale: 0.5;
  }
  10% {
    opacity: 0.6;
    scale: 1;
  }
  20% {
    transform: translateX(-40px) rotate(45deg);
    scale: 0.6;
  }
  40% {
    transform: translateX(-40px) rotate(90deg);
    scale: 1.2;
  }
  60% {
    transform: translateX(-20px) rotate(180deg);
    scale: 1;
  }
  80% {
    transform: translateX(-40px) rotate(180deg);
    scale: 1.6;
  }
  100% {
    top: 0%;
    transform: translateX(-40px) rotate(225deg);
    opacity: 0;
    scale: 1;
  }
}
@-webkit-keyframes float-pollen-6 {
  0% {
    opacity: 1;
    top: 50%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
  }
}
@keyframes float-pollen-6 {
  0% {
    opacity: 1;
    top: 50%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
  }
}
@-webkit-keyframes float-pollen-7 {
  0% {
    opacity: 0;
    top: 40%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-10px);
    opacity: 0;
  }
}
@keyframes float-pollen-7 {
  0% {
    opacity: 0;
    top: 40%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-10px);
    opacity: 0;
  }
}
@-webkit-keyframes float-pollen-8 {
  0% {
    opacity: 0;
    top: 90%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(50px);
    opacity: 1;
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-30px);
    opacity: 0;
  }
}
@keyframes float-pollen-8 {
  0% {
    opacity: 0;
    top: 90%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(50px);
    opacity: 1;
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-30px);
    opacity: 0;
  }
}
@-webkit-keyframes float-pollen-9 {
  0% {
    opacity: 0;
    top: 20%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
  }
}
@keyframes float-pollen-9 {
  0% {
    opacity: 0;
    top: 20%;
    transform: translateX(20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    top: 0%;
    transform: translateX(-20px);
    opacity: 0;
  }
}
@-webkit-keyframes float-pollen-10 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(-20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-40px);
  }
  40% {
    transform: translateX(-40px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(-40px);
  }
  100% {
    top: 0%;
    transform: translateX(-40px);
    opacity: 0;
  }
}
@keyframes float-pollen-10 {
  0% {
    opacity: 0;
    top: 100%;
    transform: translateX(-20px);
  }
  10% {
    opacity: 0.6;
  }
  20% {
    transform: translateX(-40px);
  }
  40% {
    transform: translateX(-40px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(-40px);
  }
  100% {
    top: 0%;
    transform: translateX(-40px);
    opacity: 0;
  }
}
#es-allegra.es-allegra {
  font-family: "Nexa-Black";
  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background-color: #9e4ea9;
  overflow: hidden;
}
#es-allegra.es-allegra img {
  max-width: 100%;
}
#es-allegra.es-allegra .es-kv {
  min-height: 400px;
  padding: 20px;
  position: relative;
}
#es-allegra.es-allegra .es-kv__pollen {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #f3efb1;
  border-radius: 50%;
  z-index: 10;
  bottom: 20px;
  opacity: 0;
}
#es-allegra.es-allegra .es-kv__pollen--1 {
  left: 80px;
  -webkit-animation: float-pollen-1 35s infinite;
          animation: float-pollen-1 35s infinite;
}
#es-allegra.es-allegra .es-kv__pollen--2 {
  left: 300px;
  bottom: 0;
  -webkit-animation: float-pollen-2 30s infinite;
          animation: float-pollen-2 30s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#es-allegra.es-allegra .es-kv__pollen--3 {
  left: 450px;
  bottom: 170px;
  -webkit-animation: float-pollen-3 35s infinite;
          animation: float-pollen-3 35s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#es-allegra.es-allegra .es-kv__pollen--4 {
  left: 0;
  bottom: 50px;
  -webkit-animation: float-pollen-4 30s infinite;
          animation: float-pollen-4 30s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#es-allegra.es-allegra .es-kv__pollen--5 {
  right: 0;
  -webkit-animation: float-pollen-5 35s infinite;
          animation: float-pollen-5 35s infinite;
}
#es-allegra.es-allegra .es-kv__pollen--6 {
  left: 65px;
  -webkit-animation: float-pollen-1 35s infinite;
          animation: float-pollen-1 35s infinite;
}
#es-allegra.es-allegra .es-kv__pollen--7 {
  left: 300px;
  bottom: 0;
  -webkit-animation: float-pollen-2 30s infinite;
          animation: float-pollen-2 30s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#es-allegra.es-allegra .es-kv__pollen--8 {
  left: 320px;
  bottom: 170px;
  -webkit-animation: float-pollen-3 35s infinite;
          animation: float-pollen-3 35s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#es-allegra.es-allegra .es-kv__pollen--9 {
  left: 15px;
  bottom: 50px;
  -webkit-animation: float-pollen-4 40s infinite;
          animation: float-pollen-4 40s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#es-allegra.es-allegra .es-kv__pollen--10 {
  right: 20px;
  -webkit-animation: float-pollen-5 45s infinite;
          animation: float-pollen-5 45s infinite;
}
#es-allegra.es-allegra .es-kv--desktop {
  display: none;
}
#es-allegra.es-allegra .es-kv--mobile {
  background-image: url(./img/allegra-kv-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#es-allegra.es-allegra .es-kv__title {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 80px;
  text-shadow: 4px 3px 8px rgb(66, 68, 90);
  font-family: "Nexa-Black";
  -webkit-animation: es-move-text 2s forwards;
          animation: es-move-text 2s forwards;
}
#es-allegra.es-allegra .es-kv__subtitle {
  font-size: 12px;
  background-color: #f6cc30;
  color: #9e4ea9;
  padding: 5px;
  margin-top: -20px;
  font-family: "Nexa-Heavy";
  -webkit-animation: es-move-text 2s forwards;
          animation: es-move-text 2s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}
#es-allegra.es-allegra .es-kv__content {
  position: relative;
  display: flex;
}
#es-allegra.es-allegra .es-kv__claim {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  font-family: "Nexa-Heavy";
  text-shadow: 4px 3px 8px rgb(21, 21, 22);
}
#es-allegra.es-allegra .es-kv__claim sup {
  font-size: 8px;
}
#es-allegra.es-allegra .es-kv__packshot {
  position: absolute;
  max-width: 280px;
  right: -20px;
  bottom: 30px;
}
#es-allegra.es-allegra .es-mainCtn {
  background-color: #9e4ea9;
  width: 100%;
  z-index: 10;
  position: relative;
}
#es-allegra.es-allegra .es-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90px;
  min-width: 90px;
  min-height: 30px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #9e4ea9;
  background-color: #f6cc30;
  font-size: 10px;
  line-height: 1;
  padding: 10px;
  box-shadow: 8px 8px 28px -10px rgb(17, 17, 17);
  transition: 0.3s ease-in-out;
}
#es-allegra.es-allegra .es-nav__link:hover {
  transition: 0.4s ease-in-out;
  transform: scale(0.98);
  box-shadow: inset -3px 0px 24px -12px rgb(17, 17, 17);
}
#es-allegra.es-allegra .es-about {
  margin: 10px;
  background-color: #853a92;
}
#es-allegra.es-allegra .es-about__titleCtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-about__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
}
#es-allegra.es-allegra .es-about__titleImg {
  max-width: 150px;
}
#es-allegra.es-allegra .es-about__iconsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-about__single {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
#es-allegra.es-allegra .es-about__iconCTn {
  position: relative;
}
#es-allegra.es-allegra .es-about__icon {
  max-width: 80px;
  margin-right: 20px;
  -webkit-animation: es-pulse 3s infinite;
          animation: es-pulse 3s infinite;
}
#es-allegra.es-allegra .es-about__textCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#es-allegra.es-allegra .es-about__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Nexa-Heavy";
  text-align: center;
  margin-bottom: 2px;
  padding-bottom: 0;
}
#es-allegra.es-allegra .es-about__desc {
  font-size: 14px;
  font-family: "Nexa-Book";
}
#es-allegra.es-allegra .es-symptoms {
  margin: 10px;
  background-color: #9e4ea9;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-symptoms__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
  text-align: center;
}
#es-allegra.es-allegra .es-symptoms__iconsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-symptoms__single {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#es-allegra.es-allegra .es-symptoms__iconCtn {
  position: relative;
}
#es-allegra.es-allegra .es-symptoms__redness {
  position: absolute;
  top: 42%;
  left: 36%;
  width: 15px;
  height: 10px;
  background-color: red;
  border-radius: 30px;
  opacity: 0.8;
  filter: blur(4px);
  -webkit-animation: es-pulse-2 4s infinite;
          animation: es-pulse-2 4s infinite;
}
#es-allegra.es-allegra .es-symptoms__redness--left {
  top: 33%;
  left: 28%;
  filter: blur(4px);
  width: 12px;
  height: 8px;
}
#es-allegra.es-allegra .es-symptoms__redness--right {
  top: 33%;
  left: 48%;
  filter: blur(4px);
  width: 12px;
  height: 8px;
}
#es-allegra.es-allegra .es-symptoms__icon {
  width: 90px;
  margin-right: 10px;
}
#es-allegra.es-allegra .es-symptoms__textCtn {
  max-width: 200px;
  min-width: 200px;
}
#es-allegra.es-allegra .es-symptoms__listItem {
  font-size: 14px;
  font-family: "Nexa-Heavy";
}
#es-allegra.es-allegra .es-symptoms__claims {
  text-align: center;
  padding: 10px;
}
#es-allegra.es-allegra .es-symptoms__claim {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Nexa-Book";
}
#es-allegra.es-allegra .es-symptoms__claim--yellow {
  color: #f6cc30;
  font-family: "Nexa-Heavy";
}
#es-allegra.es-allegra .es-doze {
  margin: 10px;
  background-color: #853a92;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-doze__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
  text-align: center;
}
#es-allegra.es-allegra .es-doze__iconsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-doze__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#es-allegra.es-allegra .es-doze__icon {
  width: 90px;
  margin-bottom: 20px;
  -webkit-animation: es-pulse 3s infinite;
          animation: es-pulse 3s infinite;
}
#es-allegra.es-allegra .es-doze__textCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
#es-allegra.es-allegra .es-doze__text {
  font-size: 14px;
  margin: 0 2px;
  font-family: "Nexa-Book";
  text-align: center;
}
#es-allegra.es-allegra .es-doze__text--yellow {
  color: #f6cc30;
}
#es-allegra.es-allegra .es-doze__claim {
  font-size: 14px;
  font-family: "Nexa-Book";
  text-align: center;
}
#es-allegra.es-allegra .es-season {
  margin: 10px;
  background-color: #9e4ea9;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-season__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
#es-allegra.es-allegra .es-season__contentCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./img/łąka-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  min-height: 350px;
  position: relative;
}
#es-allegra.es-allegra .es-season__pollen {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #c2be8a;
  border-radius: 50%;
  z-index: 10;
  bottom: 20px;
  opacity: 0;
}
#es-allegra.es-allegra .es-season__pollen--1 {
  left: 80px;
  -webkit-animation: float-pollen-1 25s infinite;
          animation: float-pollen-1 25s infinite;
}
#es-allegra.es-allegra .es-season__pollen--2 {
  left: 300px;
  bottom: 0;
  -webkit-animation: float-pollen-2 20s infinite;
          animation: float-pollen-2 20s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#es-allegra.es-allegra .es-season__pollen--3 {
  left: 450px;
  bottom: 170px;
  -webkit-animation: float-pollen-3 25s infinite;
          animation: float-pollen-3 25s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#es-allegra.es-allegra .es-season__pollen--4 {
  left: 0;
  bottom: 50px;
  -webkit-animation: float-pollen-4 20s infinite;
          animation: float-pollen-4 20s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#es-allegra.es-allegra .es-season__pollen--5 {
  right: 0;
  -webkit-animation: float-pollen-5 25s infinite;
          animation: float-pollen-5 25s infinite;
}
#es-allegra.es-allegra .es-season__pollen--6 {
  left: 65px;
  -webkit-animation: float-pollen-1 25s infinite;
          animation: float-pollen-1 25s infinite;
}
#es-allegra.es-allegra .es-season__pollen--7 {
  left: 300px;
  bottom: 0;
  -webkit-animation: float-pollen-2 20s infinite;
          animation: float-pollen-2 20s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
#es-allegra.es-allegra .es-season__pollen--8 {
  left: 320px;
  bottom: 170px;
  -webkit-animation: float-pollen-3 25s infinite;
          animation: float-pollen-3 25s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
#es-allegra.es-allegra .es-season__pollen--9 {
  left: 15px;
  bottom: 50px;
  -webkit-animation: float-pollen-4 30s infinite;
          animation: float-pollen-4 30s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#es-allegra.es-allegra .es-season__pollen--10 {
  right: 20px;
  -webkit-animation: float-pollen-5 35s infinite;
          animation: float-pollen-5 35s infinite;
}
#es-allegra.es-allegra .es-season__contentText {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  text-shadow: 4px 3px 8px rgb(31, 31, 32);
  font-family: "Nexa-Black";
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;
}
#es-allegra.es-allegra .es-season__contentText--twoWeeks {
  -webkit-animation: es-two-weeks 4s forwards;
          animation: es-two-weeks 4s forwards;
}
#es-allegra.es-allegra .es-season__iconsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
  margin: 20px 0;
}
#es-allegra.es-allegra .es-season__single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
#es-allegra.es-allegra .es-season__iconCtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-season__iconCtn--meadow {
  margin-top: 40px;
}
#es-allegra.es-allegra .es-season__icon {
  width: 90px;
  margin-bottom: 20px;
  -webkit-animation: es-pulse 3s infinite;
          animation: es-pulse 3s infinite;
}
#es-allegra.es-allegra .es-season__iconText {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
  min-width: 200px;
}
#es-allegra.es-allegra .es-season__contentDesc {
  font-size: 14px;
  font-family: "Nexa-Book";
  text-align: center;
  max-width: 600px;
}
#es-allegra.es-allegra .es-calendar {
  margin: 10px;
  background-color: #853a92;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-calendar__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
#es-allegra.es-allegra .es-calendar__subtitle {
  font-family: "Nexa-Book";
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}
#es-allegra.es-allegra .es-calendar__mainCtn {
  background-color: #fff;
  border-radius: 30px;
  padding: 10px;
}
#es-allegra.es-allegra .es-calendar__Ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-calendar__names {
  max-width: 100px;
  background-color: #e1c3f5;
  margin-right: 20px;
  margin-top: 15px;
  box-shadow: 8px 9px 15px -1px rgb(33, 33, 34);
  height: 100%;
}
#es-allegra.es-allegra .es-calendar__name {
  color: #000;
  font-size: 10px;
  text-align: center;
  font-family: "Nexa-Book";
  padding: 0.2px;
}
#es-allegra.es-allegra .es-calendar__imgCtn {
  height: 100%;
  max-width: 180px;
  overflow-x: scroll;
  white-space: nowrap;
}
#es-allegra.es-allegra .es-calendar__img {
  height: 370px;
  width: 600px;
  display: inline-block;
  max-width: none;
}
#es-allegra.es-allegra .es-calendar__legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  max-width: 600px;
  margin: 20px auto;
}
#es-allegra.es-allegra .es-calendar__legendSingle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#es-allegra.es-allegra .es-calendar__legendText {
  font-family: "Nexa-Book";
  font-size: 14px;
  color: #000;
  margin: 0 10px;
  min-width: 50px;
  text-align: center;
}
#es-allegra.es-allegra .es-calendar__legendText--light {
  padding: 5px;
  background-color: #e1c3f5;
  color: #000;
}
#es-allegra.es-allegra .es-calendar__legendText--dark {
  padding: 5px;
  background-color: #5d337a;
  color: #fff;
}
#es-allegra.es-allegra .es-calendar__legendText--small {
  margin-top: 20px;
  font-size: 11px;
  max-width: 300px;
}
#es-allegra.es-allegra .es-ingr {
  margin: 10px;
  background-color: #9e4ea9;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-ingr__title {
  text-transform: uppercase;
  font-family: "Nexa-Heavy";
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
#es-allegra.es-allegra .es-ingr__text {
  font-family: "Nexa-Book";
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
#es-allegra.es-allegra .es-ingr__text--yellow {
  color: #f6cc30;
  font-family: "Nexa-Heavy";
}
#es-allegra.es-allegra .es-ingr__desc {
  font-family: "Nexa-Book";
  font-size: 18px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
#es-allegra.es-allegra .es-footer {
  margin: 10px;
  background-color: #853a92;
  padding: 20px 0;
}
#es-allegra.es-allegra .es-footer__claims {
  margin-bottom: 20px;
}
#es-allegra.es-allegra .es-footer__claim {
  font-size: 11px;
  font-family: "Nexa-Book";
  margin: 2px;
  padding: 0;
}
#es-allegra.es-allegra .es-footer__numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#es-allegra.es-allegra .es-footer__number {
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Nexa-Book";
}
#es-allegra.es-allegra .es-footer__logo {
  max-width: 100px;
}
#es-allegra.es-allegra .es-footer__warning {
  text-align: center;
  font-size: 16px;
  font-family: "Nexa-Book";
}

@media (min-width: 600px) {
  #es-allegra.es-allegra {
    font-family: "Nexa-Black";
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-kv {
    padding: 20px 0;
    min-height: 600px;
  }
  #es-allegra.es-allegra .es-kv--desktop {
    background-image: url(./img/allegra-kv-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #es-allegra.es-allegra .es-kv--mobile {
    display: none;
  }
  #es-allegra.es-allegra .es-kv__title {
    font-size: 45px;
    margin-top: 160px;
    margin-left: 20px;
    line-height: 1;
  }
  #es-allegra.es-allegra .es-kv__subtitle {
    font-size: 16px;
    padding: 5px 10px;
    margin-top: -20px;
    font-family: "Nexa-Heavy";
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 20px;
    margin-bottom: 60px;
  }
  #es-allegra.es-allegra .es-kv__content {
    position: relative;
    display: flex;
    margin-left: 20px;
  }
  #es-allegra.es-allegra .es-kv__claim {
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  #es-allegra.es-allegra .es-kv__claim sup {
    font-size: 8px;
  }
  #es-allegra.es-allegra .es-kv__packshot {
    position: absolute;
    max-width: 280px;
    right: -15px;
    bottom: -100px;
  }
  #es-allegra.es-allegra .es-mainCtn {
    background-color: #9e4ea9;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: -50px;
    padding: 30px 0;
  }
  #es-allegra.es-allegra .es-nav__link {
    font-size: 12px;
    min-width: 110px;
    max-width: 110px;
    min-height: 40px;
  }
  #es-allegra.es-allegra .es-about {
    margin: 40px;
  }
  #es-allegra.es-allegra .es-about__title {
    text-transform: uppercase;
    font-family: "Nexa-Heavy";
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-about__titleImg {
    max-width: 200px;
  }
  #es-allegra.es-allegra .es-about__iconsCtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  #es-allegra.es-allegra .es-about__icon {
    margin: 0 auto;
  }
  #es-allegra.es-allegra .es-about__single {
    max-width: 200px;
    min-width: 200px;
    min-height: 220px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #es-allegra.es-allegra .es-about__textCtn {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #es-allegra.es-allegra .es-symptoms {
    margin: 40px;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-symptoms__title {
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-symptoms__textCtn {
    min-width: 230px;
    max-width: 230px;
  }
  #es-allegra.es-allegra .es-symptoms__listItem {
    font-size: 18px;
  }
  #es-allegra.es-allegra .es-symptoms__claim {
    font-size: 18px;
  }
  #es-allegra.es-allegra .es-doze {
    margin: 40px;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-doze__title {
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-doze__text {
    font-size: 18px;
  }
  #es-allegra.es-allegra .es-doze__claim {
    font-size: 18px;
  }
  #es-allegra.es-allegra .es-season {
    margin: 40px;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-season__title {
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-season__contentCtn {
    background-image: url(./img/łąka-desktop.png);
  }
  #es-allegra.es-allegra .es-season__contentText {
    font-size: 25px;
  }
  #es-allegra.es-allegra .es-season__contentDesc {
    font-size: 16px;
  }
  #es-allegra.es-allegra .es-season__iconsCtn {
    justify-content: center;
  }
  #es-allegra.es-allegra .es-season__single {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #es-allegra.es-allegra .es-season__iconText {
    text-align: center;
    margin-left: 0;
  }
  #es-allegra.es-allegra .es-calendar {
    margin: 40px;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-calendar__title {
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-calendar__subtitle {
    font-size: 20px;
  }
  #es-allegra.es-allegra .es-calendar__names {
    max-width: 100px;
    background-color: #e1c3f5;
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: none;
  }
  #es-allegra.es-allegra .es-calendar__imgCtn {
    height: 100%;
    max-width: 650px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  #es-allegra.es-allegra .es-calendar__legendText--small {
    margin-top: 0px;
  }
  #es-allegra.es-allegra .es-season__contentDesc {
    font-size: 18px;
  }
  #es-allegra.es-allegra .es-ingr {
    margin: 40px;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-ingr__title {
    font-size: 40px;
  }
  #es-allegra.es-allegra .es-ingr__subtitle {
    font-size: 25px;
  }
  #es-allegra.es-allegra .es-footer {
    margin: 40px;
    padding: 20px;
  }
  #es-allegra.es-allegra .es-footer__claim {
    font-size: 11px;
    font-family: "Nexa-Book";
    margin: 2px;
    padding: 0;
  }
  #es-allegra.es-allegra .es-footer__numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #es-allegra.es-allegra .es-footer__number {
    text-transform: uppercase;
    font-size: 11px;
  }
  #es-allegra.es-allegra .es-footer__logo {
    max-width: 100px;
  }
  #es-allegra.es-allegra .es-footer__warning {
    text-align: center;
    font-size: 16px;
  }
}
@media (min-width: 840px) {
  #es-allegra.es-allegra {
    font-family: "Nexa-Black";
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-kv {
    padding: 20px 0;
    min-height: 600px;
  }
  #es-allegra.es-allegra .es-kv--desktop {
    background-image: url(./img/allegra-kv-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #es-allegra.es-allegra .es-kv--mobile {
    display: none;
  }
  #es-allegra.es-allegra .es-kv__title {
    font-size: 55px;
    margin-top: 160px;
    margin-left: 50px;
    line-height: 1;
  }
  #es-allegra.es-allegra .es-kv__subtitle {
    font-size: 18px;
    padding: 5px 10px;
    margin-top: -10px;
    font-family: "Nexa-Heavy";
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 50px;
  }
  #es-allegra.es-allegra .es-kv__content {
    position: relative;
    display: flex;
    margin-left: 50px;
  }
  #es-allegra.es-allegra .es-kv__claim {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  #es-allegra.es-allegra .es-kv__claim sup {
    font-size: 8px;
  }
  #es-allegra.es-allegra .es-kv__packshot {
    position: absolute;
    max-width: 350px;
    right: -15px;
    bottom: -30px;
  }
  #es-allegra.es-allegra .es-mainCtn {
    background-color: #9e4ea9;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: -50px;
    padding: 30px 0;
  }
  #es-allegra.es-allegra .es-nav__link {
    font-size: 12px;
    min-width: 110px;
    max-width: 110px;
    min-height: 40px;
  }
}
@media (min-width: 950px) {
  #es-allegra.es-allegra {
    font-family: "Nexa-Black";
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    color: #fff;
    background-color: #853a92;
  }
  #es-allegra.es-allegra .es-kv {
    padding: 20px 0;
    min-height: 600px;
  }
  #es-allegra.es-allegra .es-kv--desktop {
    background-image: url(./img/allegra-kv-bg-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  #es-allegra.es-allegra .es-kv--mobile {
    display: none;
  }
  #es-allegra.es-allegra .es-kv__title {
    font-size: 55px;
    margin-top: 180px;
    margin-left: 50px;
    line-height: 1;
  }
  #es-allegra.es-allegra .es-kv__subtitle {
    font-size: 20px;
    padding: 5px 10px;
    margin-top: -20px;
    font-family: "Nexa-Heavy";
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 50px;
  }
  #es-allegra.es-allegra .es-kv__content {
    position: relative;
    display: flex;
    margin-left: 50px;
  }
  #es-allegra.es-allegra .es-kv__claims {
    margin-top: -50px;
  }
  #es-allegra.es-allegra .es-kv__claim {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  #es-allegra.es-allegra .es-kv__claim sup {
    font-size: 8px;
  }
  #es-allegra.es-allegra .es-kv__packshot {
    position: absolute;
    max-width: 380px;
    right: -15px;
    bottom: -40px;
  }
  #es-allegra.es-allegra .es-mainCtn {
    background-color: #9e4ea9;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: -50px;
    padding: 30px 0;
  }
  #es-allegra.es-allegra .es-nav__link {
    font-size: 12px;
    min-width: 110px;
    max-width: 110px;
    min-height: 40px;
  }
}/*# sourceMappingURL=style.css.map */